@model PageViewModel

<div class="container">
    <div class="code-submission-form">
        <h2 class="mb-4">@ViewData["Title"]</h2>
        <form asp-controller="Home" asp-action="SubmitCode" method="post">
            <input type="hidden" asp-for="IsFromTelegram"/>
            <input type="hidden" asp-for="CodeSubmission.ChatId" />
            <div class="mb-3">
                <label asp-for="CodeSubmission.ProgrammingLanguage" class="form-label">Язык программирования:</label>
                <select asp-for="CodeSubmission.ProgrammingLanguage" id="language" class="form-select">
                    <option value="csharp" selected>C#</option>
                    <option value="javascript">JavaScript</option>
                    <option value="python">Python</option>
                    <option value="java">Java</option>
                    <option value="html">HTML</option>
                </select>
                <span asp-validation-for="CodeSubmission.ProgrammingLanguage" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CodeSubmission.Code" class="form-label">Код:</label>
                <textarea class="form-control" placeholder="Введите ваш код:" asp-for="CodeSubmission.Code" id="code" rows="15"></textarea>
                <span asp-validation-for="CodeSubmission.Code" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Скачать изображение</button>
        </form>
    </div>
</div>

@section Styles {
    <style>
        body {
            background-color: #f8f9fa;
        }

        .code-submission-form {
            max-width: 800px;
            margin: 2rem auto;
            padding: 2rem;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }


        #code {
            font-family: Consolas, Monaco, 'Courier New', monospace;
            font-size: 14px;
            line-height: 1.5;
            resize: vertical;
        }
    </style>
}